body
  font-family "Roboto"
  text-align center
  font-size 17
  line-height 180%
  padding 0
  background #f4f4f7
  color #686868
  margin 0

h1
  font-family 'Roboto' sans-serif
  text-align center
  font-size 74px
  text-transform uppercase
  line-height 1.2em
  
h2
  max-width 500px
  text-align center
  padding 5px
  margin 10px auto

h3
  font-weight 400
  text-align center

h4
  font-size 16px
  color grey
  
p
  text-align center
  line-height 160%
  font-size 17
  color #414141
  text-decoration none
  margin 20


.cover
  width 100%
  height 100%
  background-color red
  position relative
  overflow hidden
  background-color black
  // background-image url('images/IMG_1045.JPG')
  // background-size cover
  // background-position center
  
  .documentation  
    min-width 100%
    min-height 100%
    width auto
    height auto
    display block
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    opacity .7
  
  .textover
    max-width 800px
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    align center
    color white

.main 
  width 650px
  margin 50px auto
  text-align left

  ul
    list-style none
    padding 0
    margin 50px 0
    border-top 1px solid rgba(0,0,0,.1)
    
    li
      padding 12px 0
      border-bottom 1px solid rgba(0,0,0,.1)
    
      .counter
        width 100px
        float left
      
      a
        text-decoration none
        &:hover
          text-decoration underline
          

.gallery
  width 100%
  height 100%
  
  .swiper-slide
    background-size cover
    background-position center
    background-repeat no-repeat
  

// @media all and (max-width: 600px)
//   background red
//   width 100%